[package]
name = "stacks"
version = "0.7.2"
description = "Stacks"
authors = ["you"]
license = ""
repository = ""
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[build-dependencies]
tauri-build = { version = "1.2", features = [] }

[dependencies]
tauri = { version = "1.2", features = ["clipboard-write-text", "global-shortcut", "macos-private-api", "process-command-api", "shell-open", "system-tray", "updater", "window-hide"] }
tauri-plugin-spotlight = { git = "https://github.com/zzzze/tauri-plugin-spotlight" }
tauri-plugin-log = { git = "https://github.com/tauri-apps/plugins-workspace", branch = "v1" }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
scru128 = { version = "2.2.0", features = ["serde"] }
log = "^0.4"
base64 = "0.21.2"
regex = "1.8.4"
tokio = { version = "1.28.2", features = ["time"] }
reqwest = { version = "0.11", features = ["json"] }
cacache = "11.6.0"
sled = "0.34.7"
bincode = "1.3.3"
ssri = "9.0.0"

[dev-dependencies]
indoc = "1.0.7"
temp-dir = "0.1.11"

[features]
# this feature is used for production builds or when `devPath` points to the filesystem
# DO NOT REMOVE!!
custom-protocol = ["tauri/custom-protocol"]
