:root {
  --background-color: #0f0e17E6;
  --header-color: #fffffe;
  --text-color: #a7a9be;

  --button-background-color: #ff8906;
  --button-text-color: #fffffe;

  --alt-background-color: #fffffe;
  --alt-text-color: black;
  --alt-highlight-color: #ff8906;
  --alt-secondary-color: #f25f4c;
  --alt-tertiary-color: #e53170;
}

/*
:root {
  --background-color: #fffffe;
  --header-color: #272343;
  --text-color: #2d334a;

  --button-background-color: #ffd803;
  --button-text-color: #272343;

  --alt-background-color: #fffffe;
  --alt-text-color: #272343;
  --alt-highlight-color: #ffd803;
  --alt-secondary-color: #e3f6f5;
  --alt-tertiary-color: #bae8e8;
}
*/

body {
  font-family: ui-monospace;
  color: var(--text-color);
  background-color: transparent;
  padding: 10px;
}

html,
body {
  font-size: 16px;
  height: 100%;
  overflow: hidden;
}

main {
  background-color: var(--background-color);
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

input {
  border: none;
  width: 100%;
  outline: none;
}

textarea {
  padding: 0.5ch;
  border: 1px solid #ccc;
  border-radius: 0.5ch;
  resize: none;
}

textarea:hover {
  border-color: #999;
}

textarea:focus {
  outline: none;
  border-color: #aaa;
  box-shadow: 0 0 2px #aaa;
}

.terserow:hover {
  background-color: var(--alt-secondary-color);
  color: var(--alt-text-color);
}

.terserow.selected {
  background-color: var(--alt-highlight-color);
  color: var(--alt-text-color);
}
