/*
:root {
  --background-color: #0f0e17;
  --header-color: #fffffe;
  --text-color: #a7a9be;

  --button-background-color: #ff8906;
  --button-text-color: #fffffe;

  --alt-background-color: #fffffe;
  --alt-text-color: black;
  --alt-highlight-color: #ff8906;
  --alt-secondary-color: #f25f4c;
  --alt-tertiary-color: #e53170;
}
*/

:root {
  --background-color: #fffffe;
  --header-color: #272343;
  --text-color: #2d334a;

  --button-background-color: #ffd803;
  --button-text-color: #272343;

  --alt-background-color: #fffffe;
  --alt-text-color: #272343;
  --alt-highlight-color: #ffd803;
  --alt-secondary-color: #e3f6f5;
  --alt-tertiary-color: #bae8e8;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
}

html,
body {
  font-size: 14px;
  height: 100%;
  overflow: hidden;
}

main {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

input {
  border: none;
  width: 100%;
  font-size: 1.2rem;
  outline: none;
}

.results {
  padding-top: 0.5rem;
}

.results > div {
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.results > div:hover {
  background-color: var(--alt-secondary-color);
  color: var(--alt-text-color);
}

.results > div.selected {
  background-color: var(--alt-highlight-color);
  color: var(--alt-text-color);
}

.container {
  display: flex;
  height: 100%;
  overflow: hidden;
  font-family: ui-monospace;
}

.left-pane {
  flex: 1;
  overflow-y: auto;
  border-right: 1px solid #aaa;
  padding-right: 0.5rem;
}

.right-pane {
  flex: 2;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.right-pane * {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
